@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

// mixins
@mixin transition($time) {
  -webkit-transition: $time;
  -moz-transition: $time;
  -o-transition: $time;
  transition: $time;
}
@mixin navbar-repetition {
  background-color: inherit;
  border: 0;
  color: #d29948;
}

// variables
$all: 100%;
$fw3: 300;
$no: none;
$Lato: 'Lato', sans-serif;
$OpenS: 'Open Sans', sans-serif;

section, 
header, 
footer {
  border: 1px solid;
}

body {
    background: #fff;
    font-family: $Lato;
    font-weight: $fw3;
    font-size: 14px;
    line-height: 22px;
    color: #000; 
}
html {
  height: $all; 
}
a {
  color: #a5732a;
  @include transition(300ms);
  &:hover {
    outline: $no;
    text-decoration: $no;
    color: #dab074;
  }
  &:focus {
    outline: $no;
    outline-offset: 0; 
  }
}
ul {
  list-style: $no; 
}
h1, h2, h2, h3, h4, h5, h6 {
  font-family: $Lato;
  font-weight: $fw3; 
}
h1, h2 {
  color: #686868; 
}
h2 {
  font-size: 24px; 
}
h3 {
  font-size: 18px; 
}
.overflow {
  overflow: hidden; 
}
.uppercase {
  text-transform: uppercase; 
}
.btn-common {
  font-size: 14px;
  color: #797979;
  border: 1px solid #dbb075;
  font-family: $OpenS;
  font-weight: $fw3;
  padding: 10px 25px; 
  &:hover,
  &:focus {
    outline: $no;
    background: $no;
    box-shadow: $no;
    color: #d29948;
  }
}
#action .col-sm-5 {
  position: absolute;
  top: 0;
  height: $all;
  right: 0; 
}
.align-right {
  text-align: right; 
}
.inline {
  display: inline-block; 
}
.padding {
  padding: 65px 0; 
}
.padding-bottom {
  padding-bottom: 65px; 
}
.padding-top {
  padding-top: 90px; 
}
.padding-right {
  padding-right: 80px; 
}
.padding-left {
  padding-left: 80px; 
}
.margin-bottom {
  margin-bottom: 35px; 
}

// Header

#header {
  margin-bottom: 0;
  padding: 30px 0 60px 0;
  .navbar-inverse .container {
    position: relative;
  }
  .navbar {
    background: #fff;
    border: 0;
    margin-bottom: 0; 
  }
  .navbar-toggle {
    margin-top: 20px; 
  }
  .navbar-brand {
    padding: 0;
    margin-left: 0;
    h1, h2 {
      padding: 0;
      margin: 0;
    } 
  }
  .navbar-nav.navbar-right {
    & > li { 
      a  {
        color: #000;
        font-size: 12px;
        padding: 20px;
        text-transform: uppercase;
        font-weight: $fw3; 
        &:hover {
          @include navbar-repetition;
        }
      }
      &:last-child {
        margin-right: 20px;
      }
    }
  }
  .navbar-inverse {
    .navbar-nav { 
      & > .open {
        & > a {
          @include navbar-repetition;
        }
      }
      li { 
        &.active {
          & > a, 
          & > a:focus {
            @include navbar-repetition; 
          }
        }
        a:hover {
          color: #d29948; 
        }
        ul.sub-menu {
          display: none;
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            a {
              color: #818285;
              padding: 5px 0;
              font-size: 13px;
              display: block;
              text-transform: capitalize;
            }
            &:hover {
              background: #fef7ee;
              color: #d29948;
            }
            & .active {
              background: #fef7ee;
              color: #d29948;
              position: relative;
              i {
                position: absolute;
                font-size: 56px;
                top: -13px;
                color: #dab074;
              }
              .fa-angle.right {
                left: -3px;
              }
              .fa-angle-left {
                right: -3px;
              }
            }
          }
        }
      }
    }
  }  
}



.social-icons {
  ul {
    li {
      padding: 0 10px; 
      &:last-child {
        padding-right: 0;
      }
      a {
        font-size: 18px;
        color: #d3d3d3;
        padding: 0;
        &:hover, 
        &:focus {
          color: #dbb075;
          background: $no;
        }
      }
    }
  }
}
  
// fin-header

#home-slider {
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-position: 155% 100%;
  background-image: url("../images/home/slider-bg.png");
  padding: 10% 0;
  .main-slider {
    img {
      position: absolute;  
    }
    .slider-sun {
      margin: -22% 59%;
    }
    .slider-house {
      margin: -3.7% 47%;
    }
    .slider-cycle {
      margin: 3.5% 33%;
    }
    .slider-circle1 {
      margin: -6% 51%;
    }
    .slider-circle2 {
      margin: -7.5% 52%;
    }
    .slider-cloud2 {
      margin: -22% 45%;
    }
    .slider-cloud1 {
      margin: -13% 54%;
    }
    .slider-cloud3 {
      margin: -18% 70%;
    }
    .slide-text {
      h1 {
        font-weight: bolder;
      }
      p {
        font-weight: bold;
        margin: 3% 0;
      }
    }
  }
}
#services {
  .service-2 {
    margin-top: 2%;
  }
  .service-3 {
    margin-top: 6%;
  }
}
#action {
  padding: 4% 0;
  background-color: #FBFAFA;
  background-image: url("../images/home/tour-bg.png");
  .tour-button {
    margin-top: 193%;
    margin-right: 73%;
  }
  .image-tour {
    padding: 14%;
    margin: -17% 24%;
    width: 78.6%;
    background-repeat: no-repeat;
    background-image: url("../images/home/tour-icon2.png");
  }
}
#features {
  .single-features {
    margin: 5% 0;
    padding: 20% 0;
    border: 1px solid;
  }
}
